
```{=html}
<div class="list">
  <% for (const cat of items) { %>
    <h3><%= cat.label %> - <%= cat.key %></h3>
    <table class="striped">
      <% for (const catEntry of cat.values) { %>
        <tr><td><%= catEntry.key %></td><td><%= catEntry.label %></td></tr>
      <% } %>
    </table>
  <% } %>
</div>
```